[mysqld]
server-id=2
log-bin=mysql-bin
replicate-do-db=nefu
replicate-do-db=wordpress
replicate-ignore-db=information_schema
replicate-ignore-db=mysql
replicate-ignore-db=personalsite
replicate-ignore-db=test
